@import "tailwindcss";

:root {
  /* Kita set background ke Slate-50 (#F8FAFC) agar menyatu dengan desain Dashboard */
  --background: #F8FAFC; 
  --foreground: #0F172A; 
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Matikan dark mode otomatis agar Dashboard selalu terlihat bersih/terang */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- LUXURY SCROLLBAR --- */
/* Target class .custom-scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;          /* Untuk Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent; /* Untuk Firefox */
}

/* Untuk Chrome, Edge, Safari (Webkit) */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Lebar scrollbar (Sangat tipis & elegan) */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background transparan agar menyatu dengan sidebar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1); /* Warna batang scroll (Transparan halus) */
  border-radius: 20px; /* Membuat ujungnya bulat */
  transition: background-color 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Sedikit lebih terang saat di-hover */
}

/* Opsional: Sembunyikan tombol panah atas/bawah scrollbar bawaan windows lama */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}